root {
    --primary-color:  #6f4e37;
    --text-color: #fffdd0;
}

.button {
    -fx-background-color: var(--text-color);
    -fx-text-fill: white;
}



.toast-message {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-padding: 10;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}